@font-face {
    font-family: 'DINNextLTPro-Heavy';
    src: url(../fonts/DINNext/DINNextLTPro-Heavy.otf);
  }

  @font-face {
    font-family: 'DINNextLTPro-Medium';
    src: url(../fonts/DINNext/DINNextLTPro-Medium.otf);
  }